<section id="solutions" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
        <h2>Fireworks Safety Tips</h2>
    </div>
  <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Sparklers are the primary source of Injury for children under five. Children should only use fireworks under adult supervision</li>
          <li>Never re-light or pick up fireworks that fail. Those &quot;duds&quot; may not be so dead.</li>
          <li>Keep a bucket of water or a garden hose close by. Soak and allow fireworks to cool for hours before disposing in a waste container</li>
          <li>Light fireworks clear of houses, dry leaves or flammable materials.</li>
          <li>Light fireworks one at a time, and never in a container.</li>
          <li>Light sparkles one at a time and wear gloves.</li>
        </ul>
        <div class="footerText text-center">Have a great deal with <b>AR Fireworks</b> and make this Diwali a memorable one !!!</div>
      </div>
  </div>
  </div>
  </section>
