.itemGroupHeading
{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color:#ed6736;
  font-size: 1.2em;
}
.orderHeading
{

    padding: 50px 0;
    color:#ed6736;
}
.loaderCenter
{
  padding: 10% 0 0 50%;
}
.totalColor
{
  color:#b53203;
}
.totalAmount
{
  text-align: right;
  font-size: 1.5em;
}
