<div *ngIf="showLoader" class="loaderCenter"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
<div *ngIf="!showLoader">
  <h2 class="orderHeading text-center">Order Details for {{individualOrder?.email}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <button routerLink="../../../list" class="btn-projects download">Back to Main page</button>
          <button (click)="tableToExcel('excelTable','satheshrgs')" class="btn-projects download">Download Excel
            File</button>
        </div>
        <br>
        <div class="table-responsive" id="excelTable">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th class="align-middle text-center" colspan="2">Name</th>
                <td colspan="5">{{individualOrder.name}}</td>
              </tr>
              <tr>
                  <th class="align-middle text-center" colspan="2">Ordered Date</th>
                  <td colspan="5">{{individualOrder.date}}</td>
                </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Referred By</th>
                <td colspan="5">{{individualOrder.referredby}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Email</th>
                <td colspan="5">{{individualOrder.email}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Address</th>
                <td colspan="5">{{individualOrder.address}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Place</th>
                <td colspan="5">{{individualOrder.place}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Pincode</th>
                <td colspan="5">{{individualOrder.pincode}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">District</th>
                <td colspan="5">{{individualOrder.district}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">State</th>
                <td colspan="5">{{individualOrder.state}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Whatsapp Number</th>
                <td colspan="5">{{individualOrder.whatsapp}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Alternate Mobile Number</th>
                <td colspan="5">{{individualOrder.mobile}}</td>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="2">Nearest Town / City</th>
                <td colspan="5">{{individualOrder.nearest}}</td>
              </tr>
              <tr>
                &nbsp;
              </tr>

              <tr>
                <th class="align-middle">Name of the Product</th>
                <th class="align-middle">Rate</th>
                <th class="align-middle">Rate Per</th>
                <th style="width: 13%" class="align-middle">Requirement</th>
                <th class="align-middle" style="width: 13%">Amount</th>
              </tr>
              <ng-container *ngFor="let o of orderDetails;let i=index">
                  <tr *ngIf="o.productCode!='header' && individualOrder['p'+(o.index)]!=0">
                    <td class="align-middle">{{o.productName}}</td>
                    <td class="align-middle text-center font-weight-bold">{{o.rate}}</td>
                    <td class="align-middle text-center">{{o.ratePer}}</td>
                    <td class="align-middle text-center">{{individualOrder["p"+(o.index)]}}</td>
                    <td class="align-middle text-center">{{o.rate*individualOrder["p"+(o.index)] }}
                  </tr>
                </ng-container>
                <tr>
                  <th colspan="4" class="totalAmount">Order Amount</th>
                  <th class="totalAmount totalColor">{{individualOrder.orderamount}}</th>
                </tr>
                <tr>
                    <th colspan="4" class="totalAmount">Discount 13%</th>
                    <th class="totalAmount totalColor">{{individualOrder.discount}}</th>
                </tr>
                <tr *ngIf="individualOrder.gst!=0">
                    <th colspan="4" class="totalAmount">GST</th>
                    <th class="totalAmount totalColor">{{individualOrder.gst}}</th>
                </tr>
                <tr>
                    <th colspan="4" class="totalAmount">Grand Total</th>
                    <th class="totalAmount totalColor">{{individualOrder.grandtotal}}</th>
                </tr>
                





            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>