<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:arfireworks@outlook.com ">arfireworks@outlook.com</a>
        <i class="fa fa-phone"></i> +91 9976468758, +91 9943679701
      </div>
      <div class="social-links float-right">
        <a href="https://www.facebook.com/ARFireworks" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
</section>

<header id="header">
  <div class="container">
      <div id="logo" class="pull-left">
        <a routerLink="/" class="navTitle text-uppercase align-middle">AR Fireworks</a>
      </div>
      <div class="pl-5 pull-left d-none d-sm-block">
        <div class="d-flex">
          <img src="../../assets/offer1.gif" height="50px" width="70px"/>
          <div class="pl-2 text-center blink_me">10 % to  13% <br>Offer</div>
        </div>
      </div>
      <nav id="nav-menu-container">
      <ul class="nav-menu" *ngIf="nav.visible">
          <li><a href="https://www.arfireworks.co.in">Home</a></li>
          <li><a routerLink="/order/details" [ngClass]="{'active':applyrouteColor}">Place Order</a></li>
          <li><a routerLink="/safety/details" routerLinkActive="active">Safety</a></li>
          <li><a routerLink="/shipping/details" routerLinkActive="active">Shipping Policy</a></li>
          <li><a routerLink="/payment/details" routerLinkActive="active">Payment Options</a></li>
          <li><a routerLink="/contact/details" routerLinkActive="active">Contact Us</a></li>
        </ul>
        <ul class="nav-menu" *ngIf="!nav.visible">
            <li><a routerLink="/view-orders">Home</a></li>
          </ul>
      </nav>
  </div>
</header>
