.navTitle
{
  font-size: 2em;
  color:#ed6736;
}
.active
{
  color:#ed6736!important;
}
a:hover
{
  text-decoration: none;
}
.blink_me {
  animation: blinker .5s linear infinite;
  color: #ed6736;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}