<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="text-center border border-light p-5" [formGroup]="customerForm">

          <h2 class="orderHeading">Customer Details</h2>

          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('name').errors && customerForm.get('name').touched}" formControlName="name" placeholder="Name of the Buyers" required >
          <input type="text" class="form-control mb-4 borderGreen" formControlName="referredby" placeholder="Referred By"  >
          <input type="email" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('email').errors && customerForm.get('email').touched}" formControlName="email" placeholder="Email" required >
          <textarea class="form-control mb-4 borderGreen" rows="3" [ngClass]="{'errorBorder': customerForm.get('address').errors && customerForm.get('address').touched}" formControlName="address" placeholder="Address" required></textarea>
          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('place').errors && customerForm.get('place').touched}" formControlName="place" placeholder="Place" required>
          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('pincode').errors && customerForm.get('pincode').touched}" formControlName="pincode" placeholder="Pincode" required>
          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('district').errors && customerForm.get('district').touched}" formControlName="district" placeholder="District" required>
          <select class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder':customerForm.get('state').value==-1 && customerForm.get('state').touched}" formControlName="state" required>
            <option disabled value="-1">Please Select a State</option>
            <option *ngFor="let s of states" [value]="s">{{s}}</option>
          </select>

          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('whatsapp').errors && customerForm.get('whatsapp').touched}" formControlName="whatsapp" placeholder="Whatsapp Number" required>
          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('mobile').errors && customerForm.get('mobile').touched}" formControlName="mobile" placeholder="Alternate Mobile Number" required>
          <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': customerForm.get('nearest').errors && customerForm.get('nearest').touched}" formControlName="nearest" placeholder="Nearest Town / City" required>
          

          <div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <th colspan="6" class="totalAmount">Order Value</th>
                    <th class="totalAmount totalColor">{{orderValue[0].orderValue | currency :'INR'}}</th>
                  </tr>
                  <tr>
                    <th colspan="6" class="totalAmount">Discount 13%</th>
                    <th class="totalAmount totalColor">{{getDiscount() | currency :'INR'}}</th>
                  </tr>
                  <tr *ngIf="customerForm.get('state').value!=-1 && customerForm.get('state').value!='Tamil Nadu'">
                    <th colspan="6" class="totalAmount" >GST 18%</th>
                    <th class="totalAmount totalColor">{{getGST() | currency :'INR'}}</th>
                  </tr>
                  <tr>
                    <th colspan="6" class="totalAmount ">Grand Total</th>
                    <th class="totalAmount totalColor">{{ (customerForm.get('state').value!=-1 && customerForm.get('state').value!='Tamil Nadu') ? (orderValue[0].orderValue + getGST() - getDiscount() | currency :'INR') : (orderValue[0].orderValue - getDiscount() | currency :'INR')}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn btn-success btn-block" (click)="submitData()" type="button" [disabled]="!customerForm.valid">Place Order</button>

      </form>
    </div>
  </div>
</div>
