<section id="solutions" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
        <h2>Happy Shopping</h2>
    </div>
    <div class="row">
      <div class="col-md-6 pt-5" align="middle">
        <h3 class="orderHeading">Multi Brand</h3>
        <a class="btn-projects download" routerLink="../product1">Place Order</a>
      </div>
      <div class="col-md-6 pt-5" align="middle">
        <h3 class="orderHeading">Gift Box</h3>
        <a class="btn-projects download" routerLink="../product2">Place Order</a>
      </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
          <ul>
            <li>Shopping till October 10th will receive discount of 10-13% on purchase value.</li>
            <li>Shopping from October 11th will receive discount of 10% on purchase value.</li>
            <li>Minimum purchase order value {{1999  | currency :'INR'}} after discount value.</li>
            <li> Free shipping till nearest Lorry Service.(Purchase of Above Rs. {{2499  | currency :'INR'}})**</li>
            <li>Sales close on 18th October.</li>
          </ul>
        </div>
    </div>

  </div>
  </section>
