<section id="solutions" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
        <h2>Shipping Details</h2>
    </div>
  <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Free Shipping charges all over TamilNadu.</li>
          <li>For Other than Tamilnadu State Freight charges to be prepaid to our account before shipping. Freight charges will be intimated at time of dispatch, after confirming with tranporter.</li>
          <li>No Returns Basis</li>
        </ul>
      </div>
  </div>
  </div>
  </section>
  <section id="solutions" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
          <h2>THEN WHERE SHOULD WE COLLECT THE GOODS</h2>
      </div>
    <div class="row">
        <div class="col-md-12">
          <ul>
            <li>Products can be collected from the transports godown or from lorry services.</li>
            <li>we shall inform you the transporter name, local contact phone number, way bill number etc once the goods are dispatched from sivakasi .</li>
            <li>Details will be sent via sms or email.</li>
          </ul>
        </div>
    </div>
    </div>
    </section>
    <section id="solutions" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
            <h2>HOW DO WE SEND OUR GOODS</h2>
        </div>
      <div class="row">
          <div class="col-md-12">
            <ul>
              <li>All confirmed orders with receipt of 100% payment in advance, which we receive 	before 12 Noon of each day are dispatched on the same day from our central. Godown in SIVAKASI to respective logistic partners assigned for respective destinations. </li>
              <li>Our logistic partners will issue an "LR Copy" against the receipt of goods from us. All 	the goods will be sent in "To Pay" basics, meaning the freight charges from 	SIVAKASI to your destination 	(Example say Coimbatore) will be paid by yourself 	before taking delivery of goods.</li>
              <li>The "LR COPY"  with details of logistic partner name, contact person, contact 	addresses and contact phone number will be scanned and sent you by 	Email/SMS.</li>
              <li>The goods will reach your destination as specified in the delivery chart based on the 	distance of your destination from SIVAKASI.</li>
            </ul>
          </div>
      </div>
      </div>
      </section>

      <section id="solutions" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
              <h2>HOW DO I CHECK THE STATUS OF MY ORDER?</h2>
          </div>
        <div class="row">
            <div class="col-md-12">
              <ul>
                <li>All orders received with 100% payment are processed within 24 - 36hours.</li>
                <li>You can check the status of your order after 24 hours to check its STATUS.</li>
                <li>We will also send you the scanned copy of "LR COPY" by email/SMS.</li>
                <li>You can also whatsapp  to  9943679701, 9976468758  at any time to know your dispatch details.</li>
                <li>No Returns Basis.</li>
              </ul>
            </div>
        </div>
        </div>
        </section>




        <section id="solutions" class="wow fadeInUp">
          <div class="container">
            <div class="section-header">
                <h2>WHAT WILL BE THE DELIVERY/TRANSPORTATION CHARGES?</h2>
            </div>
          <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Delivery or Transportation charge varies with each destination.</li>
                  <li>Usually the confirmed paid orders we receive before 12 Noon on each day will be dispatched on the same day from our warehouse in SIVAKASI </li>
                  <li>Business days exclude public holidays and Sundays.</li>
                  <li>Estimated delivery time depends on the destination to which you want the order shipped to from the location of our warehouse.</li>
                </ul>
              </div>
          </div>
          </div>
          </section>


          <section id="solutions" class="wow fadeInUp">
            <div class="container">
              <div class="section-header">
                  <h2>SHIPPING AND DELIVERY DURATION</h2>
              </div>
            <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>After the order confirmation, Goods will be shipped within 48 hours.</li>
                  </ul>
                </div>
            </div>
            </div>
            </section>



            <section id="solutions" class="wow fadeInUp">
              <div class="container">
                <div class="section-header">
                    <h2>CANCELLATION DURATION</h2>
                </div>
              <div class="row">
                  <div class="col-md-12">
                    <ul>
                      <li>Customer can request for the cancellation within 2 hours of the order placed.</li>
                      <li>After the order confirmation orders cannot be cancelled.</li>
                      <li>You can cancel an order until it has been processed in our warehouse by calling our customer care 	executive in 9976468758.</li>
                      <li>You should cancel the order before the goods are dispatched from our warehouse to our logistic partners</li>
                      <li>This includes items purchased on sale</li>
                    </ul>
                  </div>
              </div>
              </div>
              </section>


              <section id="solutions" class="wow fadeInUp">
                <div class="container">
                  <div class="section-header">
                      <h2>WHATS YOUR RETURN POLICY?</h2>
                  </div>
                <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li>We do not take any return of goods.</li>
                      </ul>
                    </div>
                </div>
                </div>
                </section>
