<section id="solutions" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
        <h2>Payment Options</h2>
    </div>
  <div class="row PaymentTop">
      <div class="col-md-6" align="middle">
        <img src="/assets/img/tez.gif"/>
        
        <h2 class="paymentHeading">Tez / Google Pay</h2>
        <table class="paymentDetails">
          <tbody>
            <tr>
              <th>Mobile No</th><td>: +91 99764 68758</td>
            </tr>
            <tr>
              <th>Name</th><td>: Agatheeshwarar Rajan</td>
            </tr>
            <tr>
              <th>UPI ID</th><td>: agatheeshwararrajan@oksbi</td>
            </tr>
          </tbody>
        </table>



      </div>
      <div class="col-md-6" align="middle">
        <img src="/assets/img/bhim.jpg"/>
        <h2 class="paymentHeading">BHIM</h2>
        <table class="paymentDetails">
          <tbody>
            <tr>
              <th>Mobile No</th><td>: +91 99764 68758</td>
            </tr>
            <tr>
              <th>Name</th><td>: Agatheeshwarar R</td>
            </tr>
            <tr>
              <th>UPI ID</th><td>:  9976468758@upi</td>
            </tr>
          </tbody>
        </table>
      </div>


  </div>
  <div class="footerText text-center">For Alternate payment option please, kindly contact us: +91 99764 68758 (Sales Team)</div>
  </div>
  </section>
