<!--==========================
        Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
        <div class="section-header">
            <h2>Contact Us</h2>

        </div>

        <div class="row contact-info">

            <div class="col-md-4">
            <div class="contact-address">
                <i class="ion-ios-location-outline"></i>

                <address>134, A.V.T Padasalai Street,Sivakasi - 626123.</address>
            </div>
            </div>

            <div class="col-md-4">
            <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>


                  <table align="center">
                    <tbody>
                      <tr>
                        <th>Sales</th><td>:</td>
                        <td class="text-left">   +91 9976468758
                        <br/>  +91 97378 97776 ( Hindi )
                        </td>
                      </tr>
                      <tr>
                        <th>Office</th><td>:</td>
                        <td class="text-left">  +91 9943679701   </td>
                      </tr>
                    </tbody>
                  </table>


            </div>
            </div>

            <div class="col-md-4">
            <div class="contact-email">
                <i class="ion-ios-time-outline"></i>

                <p>9:00 a.m to 9:00 p.m</p>
            </div>
            </div>

        </div>
          <div #googleMap id="google-map"></div>
        </div>




      </section>
