.orderHeading
{
  padding: 50px 0;
  color:#ed6736;
}
.dataCursor
{
  cursor: pointer;
}
.itemGroupHeading
{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color:#ed6736;
  font-size: 1.2em;
}
