<h2 class="orderHeading text-center mb-4">List of Orders</h2>
<div class="container">
  <div class="row">
    <div>
      <button routerLink="../home" class="btn-projects download">Back to Main page</button>
    </div>
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>

            <tr>
              <th class="align-middle text-center">#</th>
              <th class="align-middle text-center">Name of the Buyer</th>
              <th class="align-middle text-center">Mail ID</th>
              <th class="align-middle text-center">Contact</th>
              <th class="align-middle text-center">Grand Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="showLoader">
              <td colspan="5" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></td>
            </tr>
            <tr *ngIf="!showLoader">
              <td colspan="5" class="text-center itemGroupHeading">Multi Brand</td>
            </tr>
            <ng-container *ngFor="let o of ordersDetails;let i=index">

              <tr [routerLink]="['../details',1,i+1]" class="dataCursor">
                <td class="align-middle text-center">{{i+1}}</td>
                <td class="align-middle text-center">{{o.name}}</td>
                <td class="align-middle text-center">{{o.email}}</td>
                <td class="align-middle text-center">{{o.whatsapp}}</td>
                <td class="align-middle text-center font-weight-bold">{{o.grandtotal | currency :'INR'}}</td>
              </tr>

            </ng-container>

            <tr *ngIf="!showLoader1">
              <td colspan="5" class="text-center itemGroupHeading">Gift Boxes</td>
            </tr>
            <ng-container *ngFor="let o of ordersDetails1;let i=index">

              <tr [routerLink]="['../details',2,i+1]" class="dataCursor">
                <td class="align-middle text-center">{{i+1}}</td>
                <td class="align-middle text-center">{{o.name}}</td>
                <td class="align-middle text-center">{{o.email}}</td>
                <td class="align-middle text-center">{{o.whatsapp}}</td>
                <td class="align-middle text-center font-weight-bold">{{o.grandtotal | currency :'INR'}}</td>
              </tr>

            </ng-container>



          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>
