<div class="pt-5 pl-5">
  <a routerLink="../details" class="routerOrders">&#8678; Go back to Orders Page</a>
</div>
<h2 class="orderHeading">Quick Order - Multi Brand</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>For Delivery and Shipping details, please mail at arfireworks@outlook.com (Office Timing from 9.00 a.m. to 9.00 p.m.)</li>
        <li>We strive to deliver products purchased from  www.arfireworks.co.in in   	excellent condition and in the fastest time possible. We here by request you to go 	through our <a routerLink="/shipping/details" >Shipping Policy</a> before making any purchase from our website.</li>
      </ul>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr [hidden]="!getTotal()>0" >
              <th colspan="5" class="totalAmount">Grand Total</th>
              <th class="totalAmount totalColor">{{getTotal() | currency :'INR'}}</th>
            </tr>
            <tr>
              <th class="align-middle">#</th>
              <th class="align-middle">Name of the Product</th>
              <th class="align-middle">Rate</th>
              <th class="align-middle">Rate Per</th>
              <th style="width: 13%" class="align-middle">Requirement</th>
              <th class="align-middle" style="width: 13%">Amount</th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngFor="let o of orderDetails;let i=index">
              <tr *ngIf="o.productCode=='header';else productTemplate">
                <td colspan="6" class="itemGroupHeading">{{o.productName}}</td>
              </tr>
              <ng-template #productTemplate>
              <tr>
                <td class="align-middle text-center">{{o.index}}</td>
                <td class="align-middle">{{o.productName}}</td>
                <td class="align-middle text-center font-weight-bold">{{o.rate | currency :'INR'}}</td>
                <td class="align-middle text-center">{{o.ratePer}}</td>
                <td class="align-middle text-center">
                    <div class="flexStyle">
                        <div class="quantityButtons" (click)="minusOne(o)">-</div>
                        <input type="number" min="0" class="quantityInput" [ngModel]="o.requirement" (keyup)="changeQuantity($event.target.value,o)">
                        <div class="quantityButtons" (click)="plusOne(o)">+</div>
                    </div>
                </td>
                <td class="align-middle text-center">{{o.rate*o.requirement | currency :'INR'}}
              </tr>
            </ng-template>
            </ng-container>




            <tr>
                <th colspan="5" class="totalAmount">Order Value</th>
                <th class="totalAmount totalColor">{{getTotal() | currency :'INR'}}</th>
              </tr>
              <tr>
                <th colspan="5" class="totalAmount">Discount 13%</th>
                <th class="totalAmount totalColor">{{getDiscount() | currency :'INR'}}</th>
              </tr>
              
              <tr>
                <th colspan="5" class="totalAmount ">Grand Total</th>
                <th class="totalAmount totalColor">{{ getTotal() - getDiscount() | currency :'INR'}}</th>
              </tr>

          </tbody>

        </table>
      </div>
      <div class="confirmContainer">
        <div class="text-right">
          <button type="button" class="btn btn-success text-uppercase" (click)="submitOrder()" [ngClass]="{'confirmDisabled': (getTotal() - getDiscount())<1999}">Confirm Order</button>
        </div>
        <div class="minError" [ngClass]="{'minErrorDisabled': (getTotal() - getDiscount())>1999}">Minimum Order Value is {{1999  | currency :'INR'}}</div>
        <div class="minError text-warning" *ngIf ="((getTotal() - getDiscount()) > 1999 && (getTotal() - getDiscount()) < 2499)">You are just {{ 2499 - (getTotal() - getDiscount()) | currency :'INR'}} away to be eligible for free delivery.</div>
        <div class="minError text-success" *ngIf ="((getTotal() - getDiscount() )> 2499)">Congratulations! You are eligible for free delivery.</div>

      </div>
    </div>
  </div>
</div>
