.orderHeading
{
    text-align: center;
    padding: 50px 0;
    color:#ed6736;
}
.confirmDisabled
{
  pointer-events: none;
  disabled:true;
  opacity:0.5;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f7f5f4;
}
table.table-bordered{
    border:1px solid #555;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #555;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #555;
}
.flexStyle
{
  display: flex;
}
.quantityButtons
{
  text-align: center;
  width: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #f4a589;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.quantityInput
{
  width: 40%;
  text-align: center;
  border: 1px soild #ccc;
  outline: none;
}
th
{
  text-align: center;
  vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.totalAmount
{
  text-align: right;
  font-size: 1.5em;
}
.itemGroupHeading
{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color:#ed6736;
  font-size: 1.2em;
}
.noBorder
{
  border: 0;
}
.confirmContainer
{
  padding: 40px 0px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  
}
.totalColor
{
  color:#b53203;
}
.minError
{
  color:red;
  font-size: 14px;
  text-transform: none;
  text-align: center;
}
.minErrorDisabled
{
  display: none;
}
.routerOrders
{
  color:#0c2e8a!important;
  padding-top: 30px;
}
