a
{
  color: #fff;
}
.scrollingText
{
  padding:15px;
  font-size: 1.2em;
  color: #18bae2;
}
.marqueeImage
{
  height: 50px;
  width:  50px;
}
.phoneModal {

      position: fixed;
      top: 0;
      left: 0;
      padding-top: 10%;
      width: 100%; /* Full width */
      z-index: 1000; /* Sit on top */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

h4
{
  color:green;
}
.errorBorder
{
  border: 1px solid red!important;
}
.borderGreen
{
  border:1px solid green;
}
.colorStyle
{
  color:red!important;
}
