<div class="scrollingText">
  <marquee>
    <img src="assets/img/marquee-rocket.png" class="marqueeImage">
    <img src="assets/img/marqueeimg2.png" class="marqueeImage">We supply crackers all over India &nbsp;&nbsp;&nbsp;
    <img src="assets/img/marqueeimg2.png" class="marqueeImage"> Minimum order <b>{{1999  | currency :'INR'}}</b>  &nbsp;&nbsp;&nbsp;
    <img src="assets/img/marqueeimg2.png" class="marqueeImage"> Factory outlet sale &nbsp;&nbsp;&nbsp;
    <img src="assets/img/marqueeimg2.png" class="marqueeImage"> For wholesale orders contact us. &nbsp;&nbsp;&nbsp;
    <img src="assets/img/marqueeimg2.png" class="marqueeImage"> Free Shipping for Orders above {{2499  | currency :'INR'}} . &nbsp;&nbsp;&nbsp;
    <img src="assets/img/marqueeimg2.png" class="marqueeImage colorStyle"><span  style="color:red;"> We Supply all 365 days &nbsp;&nbsp;&nbsp;</span>
     <img src="assets/img/marqueeimg1.jpg" class="marqueeImage">
  </marquee>
</div>


<!--==========================
   Intro Section
   ============================-->
   <section id="intro">

   <div class="intro-content">
       <h2>We are shining with the city of lights<br> over your town</h2>
       <div>
         <a class="btn-projects download" href="assets/AR_Fireworks_2019_Price_List.pdf" download>Download Price List</a>
         <a class="btn-projects download" routerLink="/order/details">Buy Now</a>
       </div>
   </div>

   <div id="intro-carousel" class="owl-carousel" >

       <div class="item" style="background-image: url('assets/img/intro-carousel/1.jpg');"></div>
       <div class="item" style="background-image: url('assets/img/intro-carousel/2.jpg');"></div>
       <div class="item" style="background-image: url('assets/img/intro-carousel/3.jpg');"></div>
       <div class="item" style="background-image: url('assets/img/intro-carousel/4.jpg');"></div>
       <div class="item" style="background-image: url('assets/img/intro-carousel/5.png');"></div>
   </div>

   </section>


<div class="phoneModal " *ngIf="showModal">

<div class="modal-content text-center" >
  <h4>Please enter your Name and Mobile Number to view the Website</h4>

  <form class="text-center border border-light p-5" [formGroup]="visitorForm">
    <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': visitorForm.get('visitorName').errors}" formControlName="visitorName" placeholder="Your Name" required>
      <input type="text" class="form-control mb-4 borderGreen" [ngClass]="{'errorBorder': visitorForm.get('visitorMobile').errors}" formControlName="visitorMobile" placeholder="10 digit Mobile Number" required>
      <button class="btn btn-success btn-block" (click)="submitVisitor()" type="submit" [disabled]="!visitorForm.valid">Confirm</button>
    </form>
</div>

</div>


<table align="center" class="mt-4">
  <tbody>
    <tr>
      <th>Total Vistors</th>
      <td>:   <img src="https://smallseotools.com/counterDisplay?code=05dfc2fc68a3b1b271a285d5986636e7&style=0013&pad=5&type=page&initCount=721" border="0" height="20px"></td>
    </tr>
  </tbody>
</table>
