<div class="successMessage">
  <h1>Congratulations!!!</h1>
  <p>Your Order has been placed Successfully</p>
  <p>Soon our representative will contact you and discuss about  the payment details</p>
  <hr>
  <p>You can pay to us using the following methods</p>

    <input type="radio" name="payment" checked>Tez / Google Pay
    <input type="radio" name="payment"> BHIM
    <a class="btn-projects download" routerLink="/payment/details">Pay Now</a>


  <hr>
  <p>Please click <a href="https://www.arfireworks.co.in">here</a> to go back to home page</p>
</div>
