


<h2 class="orderHeading text-center mb-4">Visitors List</h2>
<div class="container bgimage">
  <div class="row">
    <div>
      <button routerLink="../home" class="btn-projects download">Back to Main page</button>
    </div>
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>

            <tr>
              <th class="align-middle text-center">#</th>
              <th class="align-middle text-center">Name</th>
              <th class="align-middle text-center">Contact Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="showLoader">
              <td colspan="5" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></td>
            </tr>
            <ng-container *ngFor="let o of visitorsDetails ;let i=index">

              <tr [routerLink]="['../details',i+1]" class="dataCursor">
                <td class="align-middle text-center">{{i+1}}</td>
                <td class="align-middle text-center">{{o.name}}</td>
                <td class="align-middle text-center">{{o.mobile}}</td>
              </tr>

            </ng-container>



          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>
